{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <h2>Sign Up</h2>
    <hr>

    <p>You are about to use your {{account.get_provider.name}} account for login.
        As a final step, please complete the following form:</p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>

{% endblock content %}