[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-environ = "*"
django-smart-selects = "*"
psycopg2-binary = "*"
environs = {extras = ["django"], version = "*"}
django-allauth = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
