{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    {% if user.is_authenticated %}

        <h1>You are already logged in.</h1>
        <p>Go to <a href="{% url 'home' %}">home</a>.</p>

    {% else %}

        <h1>Login</h1>
        <hr>

        <form method="post" class="my-4">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Login" />
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <hr>
        <p>Don't have an account? <a href="{% url 'signup' %}">Create an account</a>.<br>
            <a href="{% url 'password_reset' %}">Forgot password?</a>
        </p>
        
    {% endif %}
{% endblock content%}