{% extends 'base.html' %}


{% block content %}

    <a href="{% url 'home' %}" class="btn btn-info">
        <i class="fa fa-home"></i> Home
    </a>
    <a href="{% url 'mylist' %}" class="btn btn-outline-info">
        <i class="fa fa-list"></i> My Uploads
    </a>
    <a href="{% url 'create' %}" class="btn btn-success">
        <i class="fa fa-plus"></i> Add Paper
    </a>

    {% include 'searchbar.html' %}

    {% for year, paper in papers %}
        <div class="card my-3">

            <a data-toggle="collapse" href="#detailCard{{ year }}" role="button" aria-expanded="false" aria-controls="detailCard{{ year }}">
                <div class="card-header p-4 h5">
                    {{ year }}
                    <i class="fa fa-chevron-down fa-xs"></i>
                </div>
            </a>

            <div class="collapse" id="detailCard{{ year }}">
            {% for p in paper %}
                <div class="card m-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ p.subject__subject_name }}
                            <span class="badge badge-pill badge-info">{{ p.branch__name }}</span>
                        </h4>
                        <h5>
                            <span class="badge badge-pill badge-info">{{ p.exam }}</span>
                            <span class="badge badge-pill badge-info">{{ p.year }}</span>
                            <span class="badge badge-pill badge-info">{{ p.semester }} Sem</span>
                        </h5>
                    </div>
                    <div class="card-footer text-right">
                        <a href="media/{{ p.paper }}" class="btn btn-info" download>
                            Download <i class="fa fa-download"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
        {% empty %}

        <h4 class="my-4">No entries yet.</h4>

    {% endfor %}

{% endblock content %}