{% extends 'base.html' %}


{% block content %}

    <div class="mb-3">
        <a href="{% url 'home' %}" class="btn btn-outline-info">
            <i class="fa fa-home"></i> Home
        </a>
        <a href="{% url 'mylist' %}" class="btn btn-info">
            <i class="fa fa-list"></i> My Uploads
        </a>
        <a href="{% url 'create' %}" class="btn btn-success">
            <i class="fa fa-plus"></i> Add Paper
        </a>
    </div>

    {% include 'searchbar.html' %}

    {% for p in mylist %}
        <div class="card my-3">

            <div class="card-body">
                <h4 class="card-title">
                    {{ p.subject }}
                    <span class="badge badge-pill badge-info">{{ p.branch }}</span>
                    {% if p.was_published_recently %}
                        <span class="badge badge-pill badge-danger">NEW</span>
                    {% endif %}
                </h4>
                <h5>
                    <span class="badge badge-pill badge-info">{{ p.exam }}</span>
                    <span class="badge badge-pill badge-info">{{ p.year }}</span>
                    <span class="badge badge-pill badge-info">{{ p.semester }} Sem</span>
                </h5>
                
                
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-xl-6 my-2 my-md-0 text-muted">
                        <em> {{ p.updated_at }}</em>
                    </div>
                    <div class="col-xl-6 my-2 my-md-0 text-right">
                        <a href="{% url 'update' p.id%}" class="btn btn-primary">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="{% url 'delete' p.id%}" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                        <a href="{{ p.paper.url }}" class="btn btn-info" download>
                            <i class="fa fa-download"></i> Download
                        </a>
                    </div>
                </div>
            </div>

        </div>
    {% empty %}

    <h4 class="my-4">No entries yet.</h4>

    {% endfor %}

{% endblock content %}